:host .container {
  align-items: center;
  display: flex;
  justify-content: center;

  nb-card-body {
    input {
      margin-bottom: 15px;
    }
  }

  nb-card-footer {
    a {
      text-decoration: none;
    }
  }
}
