:host .container {
  align-items: center;
  display: flex;
  height: 100vh;
  padding: 0 30% !important;

  nb-card-body {
    input {
      margin-bottom: 15px;
    }
  }

  nb-card-footer {
    a {
      text-decoration: none;
    }
  }
}
