<jw-modal (triggerClose)="listenerModalCloseEvent($event)" modalId="item-modal">
  <nb-card class="card">
    <nb-card-header>{{ selectedPokemon ? 'existe ' + selectedPokemon.displayName : 'no existe perro...' }}</nb-card-header>
    <nb-card-body>
      <div class="main-control">
        <div class="main-control-row">
          <span class="simple">Display Name: </span>
          <input nbInput type="text" [(ngModel)]="selectedPokemon.displayName">
        </div>
        <div class="main-control-row">
          <span class="simple">Description: </span>
          <textarea nbInput [(ngModel)]="selectedPokemon.description" cols="30" rows="10"></textarea>
        </div>
        <div class="main-control-row">
          <span class="simple">Images: </span>
          <div class="pokemon-images" *ngIf="selectedPokemon.sprites; else logoUrlContent">
            <div *ngFor="let spriteKey of spritesKeys">
              <button
                outline
                nbButton
                *ngIf="selectedPokemon.sprites[spriteKey] && isPropString(selectedPokemon.sprites[spriteKey])"
                (click)="selectPokemonSprite(spriteKey)"
              >
                <img [src]="selectedPokemon.sprites[spriteKey]" width="100" height="100" />
              </button>
            </div>
          </div>
          <ng-template #logoUrlContent>
            <div class="pokemon-images">
              <img [src]="selectedPokemon.logoUrl" width="100" height="100" />
            </div>
          </ng-template>
        </div>
      </div>
      <div class="secondary-control">
        <div class="main-control-row">
          <div class="block-col">
            <span class="simple">Abilities: </span>
          </div>
          <div class="block-col">
            <ul class="list-abilities">
              <li *ngFor="let item of selectedPokemon.abilities">
                <input nbInput type="text" [(ngModel)]="item.ability.name" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button outline nbButton (click)="handleSubmit()">Submit</button>
    </nb-card-footer>
  </nb-card>
</jw-modal>
