<jw-modal modalId="item-modal">
  <nb-card *ngIf="pokemonDetails" class="card">
    <nb-card-header>{{ pokemon.name }}</nb-card-header>
    <nb-card-body>
      <span>Images: </span>
      <div class="images-block">
        <div *ngFor="let spriteKey of spritesKeys">
          <img *ngIf="pokemonDetails.sprites[spriteKey] && isPropString(pokemonDetails.sprites[spriteKey])" [src]="pokemonDetails.sprites[spriteKey]" width="100" height="100" />
        </div>
      </div>
      <span>Abilities: </span>
      <ul>
        <li *ngFor="let item of pokemonDetails.abilities">
          <input nbInput type="text" [(ngModel)]="item.ability.name" />
        </li>
      </ul>
      <span>Display Label</span>
      <input type="text">
    </nb-card-body>
    <nb-card-footer>
      <button outline nbButton>Submit</button>
    </nb-card-footer>
  </nb-card>
</jw-modal>
