<div class="pokemons">
  <div class="pokemons__section-1">
    <button outline nbButton (click)="joinChatRoom()">Exchange Pokemons</button>
  </div>
  <nb-tabset (changeTab)="selectTab($event)">
    <nb-tab tabTitle="All Pokemons List">
      <app-item-table
        (pokemonSelectionEvent)="pokemonSelectionListener($event)"
        [isPokemonListCustom]="isPokemonListCustom"
        [pokemons]="pokemons"
      ></app-item-table>
    </nb-tab>
    <nb-tab tabTitle="My Custom Pokemons List">
      <app-item-table
        (pokemonSelectionEvent)="pokemonSelectionListener($event)"
        [isPokemonListCustom]="isPokemonListCustom"
        [pokemons]="pokemons"
      ></app-item-table>
    </nb-tab>
  </nb-tabset>
</div>

<app-show-item
  [isPokemonListCustom]="isPokemonListCustom"
  [pokemon]="(pokemon$ | async)"
></app-show-item>
